<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comp90018.assignment2">
    <!-- 这个权限用于手机app上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息可用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppName">
        <activity
            android:name=".modules.users.authentication.activity.LoginActivity"
            android:theme="@style/Theme.AppName.NoActionBar"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".modules.users.authentication.activity.RegisterActivity"
            android:theme="@style/Theme.AppName.NoActionBar"
            android:launchMode="singleInstance"/>

        <meta-data
            android:name="com.baidu.lbsapi.AzV72hBP1PhDKbVv07gYZL7WdUsWgplD"
            android:value="AK" />

        <activity
            android:name=".modules.entrance.WelcomeActivity"
            android:theme="@style/Theme.AppName.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.MainActivity"
            android:theme="@style/Theme.AppName.NoActionBar"
            android:launchMode="singleInstance"/>

        <service android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".modules.users.chat.service.ImService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- suppress AndroidDomInspection -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            tools:ignore="MissingClass" />
    </application>

</manifest>