<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comp90018.assignment2">
    <!-- 这个权限用于手机app上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息可用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="zzw.imtest.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- make app can call up camera activity -->
    <queries package="com.comp90018.assignment2">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppName">
        <activity
            android:name=".modules.users.fans.activity.UserListActivity"
            android:exported="true" />
        <activity
            android:name=".modules.users.fans.activity.FollowedActivity"
            android:exported="true" />
        <activity
            android:name=".modules.users.fans.activity.FollowingActivity"
            android:exported="true" />
        <activity
            android:name=".modules.users.favorite.activity.FavoriteProductActivity"
            android:exported="true" />
        <activity
            android:name=".modules.location.activity.LocationMapActivity"
            android:exported="true" />
        <activity
            android:name=".utils.activity.OkActivity"
            android:exported="true" />
        <activity
            android:name=".modules.orders.activity.PublishedActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".modules.users.authentication.activity.EditPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".utils.activity.VideoPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".utils.activity.ImagePreviewActivity"
            android:exported="true" />
        <activity
            android:name=".modules.messages.activity.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".modules.product.activity.ProductDetailActivity"
            android:exported="true" />
        <activity android:name=".modules.search.activity.SearchProductActivity" />
        <activity
            android:name=".modules.search.activity.SearchResultActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".modules.users.authentication.activity.LoginActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppName.NoActionBar" />
        <activity
            android:name=".modules.users.authentication.activity.RegisterActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppName.NoActionBar" />
        <activity
            android:name=".modules.users.me.activity.EditProfileActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppName.NoActionBar" />
        <activity
            android:name=".modules.users.me.activity.UserPageActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppName.NoActionBar" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AzV72hBP1PhDKbVv07gYZL7WdUsWgplD" />

        <activity
            android:name=".modules.entrance.WelcomeActivity"
            android:theme="@style/Theme.AppName.NoActionBar">

            <!-- entrance is here!! -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppName.NoActionBar" />

        <service android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".modules.users.chat.service.ImService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>